* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

img, svg {
  max-width: 100%;
}

ul {
  list-style: none;
}

p {
  font-size: .85rem;
  color: #7F828C;
  line-height: 1.8;
}

html {
  scroll-behavior: smooth;
}

/* global style */
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerWrap {
  background: #1D2748;
  position: relative;
  z-index: 4;
}

.headerWrap .headerContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
}

.headerWrap .headerContainer .navigationWrap {
  -ms-grid-column-align: end;
      justify-self: end;
}

.headerWrap .headerContainer .navigationWrap .desktopMenu {
  display: none;
}

@media all and (min-width: 700px) {
  .headerWrap .headerContainer .navigationWrap .desktopMenu {
    display: block;
  }
}

.headerWrap .headerContainer .navigationWrap .desktopMenu a {
  font-size: .85rem;
  color: #fff;
  font-weight: 700;
  margin-right: 20px;
}

.headerWrap .headerContainer .navigationWrap .desktopMenu a:last-child {
  margin-right: 0px;
}

.headerWrap .headerContainer .navigationWrap .menuBurger {
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 25px;
}

@media all and (min-width: 700px) {
  .headerWrap .headerContainer .navigationWrap .menuBurger {
    display: none;
  }
}

.headerWrap .headerContainer .navigationWrap .menuBurger span {
  display: block;
  width: 35px;
  height: 5px;
  background: #E9F0F4;
  border-radius: 1px;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.headerWrap .headerContainer .navigationWrap .menuBurger span:nth-child(1) {
  top: 0;
  left: 0;
}

.headerWrap .headerContainer .navigationWrap .menuBurger span:nth-child(2) {
  top: 10px;
  left: 0;
}

.headerWrap .headerContainer .navigationWrap .menuBurger span:nth-child(3) {
  top: 20px;
  left: 0;
}

.headerWrap .sideNavigationWrap {
  min-height: calc(100vh - 71px);
  display: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  background: rgba(29, 39, 72, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 3;
}

.headerWrap .sideNavigationWrap .sideNavigationContainer {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: -999px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.headerWrap .sideNavigationWrap .sideNavigationContainer a {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.headerWrap .sideNavigationWrap .sideNavigationContainer a:last-child {
  margin-bottom: 0px;
}

.lpWrap {
  background: url("../images/bg-lp.jpg") no-repeat top center;
  background-size: cover;
  position: relative;
  min-height: calc(100vh - 71px);
}

.lpWrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #1D2748;
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.lpWrap .lpContainer {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 3;
}

.lpWrap .lpContainer .introWrap {
  margin-bottom: 20px;
}

.lpWrap .lpContainer .introWrap h2 {
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.lpWrap .lpContainer .introWrap h2 span {
  font-weight: 700;
}

.lpWrap .lpContainer .introWrap h3 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

.lpWrap .lpContainer .ctaBtnWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.lpWrap .lpContainer .ctaBtnWrap a {
  border: 2px solid #E9F0F4;
  padding: 10px 30px;
  color: #E9F0F4;
  text-align: center;
  display: inline-block;
  background: #1C77D1;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}

.lpWrap .lpContainer .ctaBtnWrap a:hover {
  background: rgba(28, 119, 209, 0.4);
}

.aboutWrap {
  overflow-x: hidden;
}

.aboutWrap .aboutContainer {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}

@media all and (min-width: 800px) {
  .aboutWrap .aboutContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    justify-items: start;
    padding: 70px 20px;
  }
}

.aboutWrap .aboutContainer .characterWrap {
  position: relative;
}

.aboutWrap .aboutContainer .characterWrap img {
  position: absolute;
  top: 0px;
  left: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity 800ms ease-in-out, left 800ms ease-in-out;
  transition: opacity 800ms ease-in-out, left 800ms ease-in-out;
}

.aboutWrap .aboutContainer .characterWrap svg {
  position: relative;
  opacity: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: opacity 800ms ease-in-out, -webkit-transform 800ms ease-in-out;
  transition: opacity 800ms ease-in-out, -webkit-transform 800ms ease-in-out;
  transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
  transition: transform 800ms ease-in-out, opacity 800ms ease-in-out, -webkit-transform 800ms ease-in-out;
}

.aboutWrap .aboutContainer .aboutInfoWrap {
  position: relative;
  top: 0;
  right: -50%;
  opacity: 0;
  -webkit-transition: opacity 800ms ease-in-out, right 800ms ease-in-out;
  transition: opacity 800ms ease-in-out, right 800ms ease-in-out;
}

.aboutWrap .aboutContainer .aboutInfoWrap h1 {
  font-size: 1.6rem;
  color: #1F1F1F;
  text-align: center;
}

@media all and (min-width: 800px) {
  .aboutWrap .aboutContainer .aboutInfoWrap h1 {
    font-size: 1.8rem;
    text-align: left;
  }
}

.aboutWrap .aboutContainer .aboutInfoWrap .about {
  margin-bottom: 30px;
}

.aboutWrap .aboutContainer .aboutInfoWrap .about p {
  text-align: center;
  margin-top: 10px;
}

@media all and (min-width: 800px) {
  .aboutWrap .aboutContainer .aboutInfoWrap .about p {
    font-size: .85rem;
    text-align: left;
  }
}

.aboutWrap .aboutContainer .aboutInfoWrap .techsIUse {
  text-align: center;
}

@media all and (min-width: 800px) {
  .aboutWrap .aboutContainer .aboutInfoWrap .techsIUse {
    text-align: left;
  }
}

.aboutWrap .aboutContainer .aboutInfoWrap .techsIUse li {
  display: inline-block;
  font-size: .9rem;
  font-weight: 700;
  margin-right: 10px;
  margin-top: 20px;
  color: #7F828C;
}

.aboutWrap .aboutContainer .aboutInfoWrap .techsIUse li img {
  vertical-align: middle;
  margin-right: 5px;
}

.portfolioWrap {
  background: #E9F0F4;
  overflow-x: hidden;
}

.portfolioWrap .portfolioContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
  opacity: 0;
  position: relative;
  top: 0;
  left: -50%;
  -webkit-transition: left 800ms ease-in-out, opacity 800ms ease-in-out;
  transition: left 800ms ease-in-out, opacity 800ms ease-in-out;
}

@media all and (min-width: 800px) {
  .portfolioWrap .portfolioContainer {
    padding: 70px 0;
  }
}

.portfolioWrap .portfolioContainer h1 {
  font-size: 1.6rem;
  color: #1F1F1F;
  text-align: center;
  margin-bottom: 20px;
}

@media all and (min-width: 800px) {
  .portfolioWrap .portfolioContainer h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}

.portfolioWrap .portfolioContainer .portfolioBtnContainer {
  margin-bottom: 20px;
  text-align: center;
}

@media all and (min-width: 800px) {
  .portfolioWrap .portfolioContainer .portfolioBtnContainer {
    margin-bottom: 30px;
  }
}

.portfolioWrap .portfolioContainer .portfolioBtnContainer button {
  font-size: .9rem;
  font-weight: 700;
  color: #7F828C;
  display: block;
  background: none;
  cursor: pointer;
  margin: 0 auto 20px;
}

@media all and (min-width: 800px) {
  .portfolioWrap .portfolioContainer .portfolioBtnContainer button {
    font-size: 1rem;
    display: inline-block;
    margin-right: 20px;
  }
  .portfolioWrap .portfolioContainer .portfolioBtnContainer button:last-child {
    margin-right: 0px;
  }
}

.portfolioWrap .portfolioContainer .portfolioBtnContainer button:last-child {
  margin-bottom: 40px;
}

.portfolioWrap .portfolioContainer .portfolioBtnContainer button.activePort {
  color: #1F1F1F;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, 200px);
  margin-top: 20px;
}

@media all and (min-width: 600px) {
  .portfolioWrap .portfolioContainer .portfolioImagesContainer {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (minmax(auto, 150px))[5];
        grid-template-rows: repeat(5, minmax(auto, 150px));
  }
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:not(.showMoreWrap)::before {
  content: attr(data-name);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: .9rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  z-index: 2;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:not(.showMoreWrap):hover::before {
  top: 20px;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:not(.showMoreWrap)::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #1D2748;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:not(.showMoreWrap):hover::after {
  opacity: .8;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 0;
  opacity: 0;
}

@media all and (min-width: 600px) {
  .portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
  }
  .portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:nth-child(5) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
  }
  .portfolioWrap .portfolioContainer .portfolioImagesContainer .imageWrap:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
  }
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .showMoreWrap {
  background: #1D2748;
  height: 0;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .showMoreWrap:hover .showMore i {
  opacity: .5;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .showMoreWrap:hover .showMore span {
  opacity: .5;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .showMoreWrap .showMore {
  background: transparent;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .showMoreWrap .showMore i {
  display: block;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 10px;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.portfolioWrap .portfolioContainer .portfolioImagesContainer .showMoreWrap .showMore span {
  font-size: 1rem;
  color: #fff;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer {
  margin-top: 60px;
  opacity: 0;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader {
  background: #fff;
  padding: 10px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-gap: 10px;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader .selectedPortfolioDetails {
  -ms-grid-column-align: start;
      justify-self: start;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader .selectedPortfolioDetails h4 {
  font-size: .9rem;
  color: #1F1F1F;
  font-weight: 700;
  margin-bottom: 10px;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader .selectedPortfolioDetails a {
  color: #1D2748;
  font-size: .8rem;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader .selectedPortfolioDetails a:last-of-type {
  display: inline-block;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader .selectedPortfolioDetails a i {
  color: #1F1F1F;
  margin-right: 2px;
  font-size: .75rem;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader .selectedPortfolioDetails p {
  color: #7F828C;
  font-size: .8rem;
  margin-top: 20px;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader .selectedPortfolioBtn {
  -ms-grid-column-align: end;
      justify-self: end;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioHeader .selectedPortfolioBtn i {
  font-size: 1.8rem;
  color: #1F1F1F;
  cursor: pointer;
}

.portfolioWrap .portfolioContainer .selectedPortfolioContainer .selectedPortfolioBody img {
  margin: 0 auto;
}

.experienceWrap {
  overflow-x: hidden;
}

.experienceWrap .experienceContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  opacity: 0;
  position: relative;
  top: 0;
  right: -50%;
  -webkit-transition: opacity 800ms ease-in-out, right 800ms ease-in-out;
  transition: opacity 800ms ease-in-out, right 800ms ease-in-out;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer {
    padding: 70px 20px;
  }
}

.experienceWrap .experienceContainer h1 {
  font-size: 1.6rem;
  color: #1F1F1F;
  text-align: center;
  margin-bottom: 20px;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}

.experienceWrap .experienceContainer .experienceBtnContainer {
  margin-bottom: 30px;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceBtnContainer {
    text-align: center;
    margin-bottom: 50px;
  }
}

.experienceWrap .experienceContainer .experienceBtnContainer .expBtn {
  background: none;
  display: block;
  margin: 0 auto;
  font-size: .9rem;
  font-weight: 700;
  color: #7F828C;
  margin-bottom: 10px;
  cursor: pointer;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceBtnContainer .expBtn {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 30px;
    font-size: 1rem;
  }
}

.experienceWrap .experienceContainer .experienceBtnContainer .expBtn:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceBtnContainer .expBtn:last-child {
    margin-right: 0;
  }
}

.experienceWrap .experienceContainer .experienceBtnContainer .expBtn.activeExp {
  color: #1F1F1F;
}

.experienceWrap .experienceContainer .experienceDetailsContainer h3 {
  font-size: 1.2rem;
  font-weight: #1F1F1F;
  color: #1F1F1F;
  text-align: center;
  margin-bottom: 5px;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceDetailsContainer h3 {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }
}

.experienceWrap .experienceContainer .experienceDetailsContainer span {
  font-size: 1rem;
  color: #1F1F1F;
  text-align: center;
  font-weight: 700;
  display: block;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceDetailsContainer span {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
}

.experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap {
  margin-top: 20px;
  overflow-x: hidden;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap {
    margin-top: 30px;
  }
}

.experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap h5, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap h5 {
  font-weight: 700;
  color: #1F1F1F;
  font-size: .9rem;
  text-align: center;
  margin-bottom: 10px;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap h5, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap h5 {
    margin-bottom: 20px;
  }
}

.experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap li, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap li {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 0;
  position: relative;
  left: 100px;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap li, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap li {
    margin-bottom: 10px;
  }
}

.experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap li i, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap li i {
  margin: 7px 5px 0 0;
  font-size: .8rem;
  color: #1F1F1F;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap li i, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap li i {
    font-size: .85rem;
  }
}

.experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap li p, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap li p {
  font-size: .85rem;
  color: #7F828C;
}

@media all and (min-width: 800px) {
  .experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap li p, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap li p {
    font-size: .9rem;
  }
}

.experienceWrap .experienceContainer .experienceDetailsContainer .dutiesWrap li:last-child, .experienceWrap .experienceContainer .experienceDetailsContainer .portfolioLinksWrap li:last-child {
  margin-bottom: 0;
}

.contactWrap {
  background: #E9F0F4;
  overflow-y: hidden;
}

.contactWrap .contactContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative;
  top: 200px;
  left: 0;
  opacity: 0;
  -webkit-transition: top 800ms ease-in-out, opacity 800ms ease-in-out;
  transition: top 800ms ease-in-out, opacity 800ms ease-in-out;
}

@media all and (min-width: 800px) {
  .contactWrap .contactContainer {
    padding: 70px 20px;
  }
}

.contactWrap .contactContainer h1 {
  font-size: 1.6rem;
  color: #1F1F1F;
  text-align: center;
  margin-bottom: 20px;
}

@media all and (min-width: 800px) {
  .contactWrap .contactContainer h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}

.contactWrap .contactContainer .contactDetails {
  text-align: center;
  max-width: 345px;
  margin: 0 auto 20px;
}

@media all and (min-width: 800px) {
  .contactWrap .contactContainer .contactDetails {
    margin: 0 auto 30px;
  }
}

.contactWrap .contactContainer .contactDetails li {
  margin-bottom: 10px;
  display: inline-block;
}

@media all and (min-width: 800px) {
  .contactWrap .contactContainer .contactDetails li {
    margin-bottom: 20px;
  }
}

.contactWrap .contactContainer .contactDetails li:last-child {
  margin-bottom: 0;
}

.contactWrap .contactContainer .contactDetails li:first-child {
  margin-right: 10px;
}

.contactWrap .contactContainer .contactDetails li i {
  margin-right: 5px;
  font-size: .8rem;
  color: #1F1F1F;
}

.contactWrap .contactContainer .contactDetails li span {
  font-size: .85rem;
  color: #7F828C;
  font-weight: 700;
}

.contactWrap .contactContainer .additionalContactInfo p {
  color: #7F828C;
  font-size: .8rem;
  text-align: center;
}

.contactWrap .contactContainer .additionalContactInfo p .contactHighlight {
  font-size: .85rem;
  color: #1F1F1F;
  font-weight: 700;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.contactWrap .contactContainer .additionalContactInfo p .contactHighlight:nth-child(1) {
  color: #05cc46;
}

.contactWrap .contactContainer .additionalContactInfo p .contactHighlight:nth-child(2) {
  color: #211f1f;
}

.contactWrap .contactContainer .additionalContactInfo p .contactHighlight:nth-child(3) {
  color: #e62117;
}

.contactWrap .contactContainer .additionalContactInfo p .contactHighlight:hover {
  color: #1D2748;
}

.footerWrap {
  background: #1D2748;
  text-align: center;
}

.footerWrap .footerContainer {
  padding: 10px 20px;
}

.footerWrap .footerContainer img {
  vertical-align: middle;
  margin-right: 30px;
}

.footerWrap .footerContainer span {
  font-size: .75rem;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */